.formulario form {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.formulario__titulo {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
}

.formulario-container{
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-container .formulario {
    margin: 10px 0 20px;
    width: 100%;
}

.formulario-container .formulario__titulo {
    text-align: center;
    font-size: 20px;
    margin-bottom: 22px;
}

.formulario-container .botao--azul {
    width: 100%;
}

@media screen and (min-width: 720px) {
    .formulario-container .formulario {
        width: 400px;
        margin: 20px 0 40px;
    }
}

@media screen and (min-width: 1020px) {
    .formulario-container .formulario__titulo {
        font-size: 22px;
    }
    
    .formulario-container .formulario {
        width: 450px;
    }
}