.cabecalho {
    height: 72px;
    padding-top: 0;
    padding-bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    background-color: var(--branco);
}



/* caixa de busca */
.cab-busca__icone-lupa {
    display: flex;
    justify-self: flex-end;
    padding: 5px 25px;
    border-radius: 20px;
    background-color: var(--background);
}

.cab-busca__icone-lupa:hover {
    background-color: var(--azul-background);
    cursor: pointer;
}

.cab-busca__icone-close {
    display: none;
    justify-self: flex-end;
}



/* Botão login */
.cabecalho .botao--transparente {
    padding: 0 clamp(10px, 4vw, 60px);
    height: 40px;
}



/* perfil */
.cab-perfil {
    display: flex;
    align-items: center;
    margin-right: .2rem;
    padding: 7px;
    border-radius: 20px;
    z-index: 1;
}

.cab-perfil:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}

.cab-perfil__nome {
    display: none;
    width: fit-content;
    white-space:nowrap;
}



/* carrinho */
.cab-carrinho {
    position: relative;
    border-radius: 20px;
    padding: 7px;
}

.cab-carrinho:hover {
    background-color: #f3f3f3;
}

.cab-carrinho__contador {
    display: flex;
    background-color: var(--azul-80);
    border-radius: 10px;
    padding: 4px 4px 3px 3px;

    color: white;
    font-size: 11px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: -8px;
    right: -8px;
}

.cab-carrinho__contador:empty {
    display: none;
}



@media screen and (min-width: 720px) {
    /* Cabecalho */
    .cabecalho{
        margin-bottom: 0px;
    }

    .cabecalho .botao--transparente {
        padding: 0 clamp(10px, 5vw, 50px);
    }



    /* caixa de busca */
    .cab-busca__icone {
        display: none;
    }
    


    /* perfil */
    .cab-perfil__icone {
        margin-right: .3rem;
    }

    .cab-perfil__nome {
        display: block;
    }
}

@media screen and (min-width: 1020px) {
    .cabecalho {
        height: 80px;
    }
}

@media screen and (min-width: 1650px) {
    .cabecalho {
        justify-content: space-between;
    }
} 